<!-- Sử dụng provide để gọi đến yield tên :title và truyền giá trị "Home" -->
<%= provide :title, t("views.title.home") %>
<div class="center jumbotron">
  <h1><%= t("views.home.wellcome") %></h1>
  <h2>
    <%= t"views.home.content1" %>
    <%= link_to t("rail"), "http://www.railstutorial.org/" %>
    <%= t "views.home.content2" %>
  </h2>
  <%= link_to t("views.home.signup"), "#", class: "btn btn-lg btn-primary" %>
</div>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
...
<% end %>
